@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Victor+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

#sakura-branch {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotate(0deg);
  /* background: url('/@/assets/cherryblossoms.svg') no-repeat; */
  background-size: contain;
}

.dark #sakura-branch {
  /* background: url('/@/assets/cherryblossoms-dark.svg') no-repeat; */
}

@media (max-width: 600px) {
  #sakura-branch {
    top: -48px;
    left: -96px;
    transform: rotate(-47deg);
    width: 113vh;
    height: 134vw;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #sakura-branch {
    top: 4px;
    left: -49px;
    transform: rotate(-29deg);
    width: 85vh;
    height: 64vw;
  }
}

@media (min-width: 1201px) {
  #sakura-branch {
    top: -66px;
    left: -35px;
    transform: rotate(-29deg);
    width: 108vh;
    height: 82vw;
  }
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  /* transition: all 0.08s cubic-bezier(1, 0.5, 0.8, 1); */
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.move-enter-active,
.move-leave-active {
  /* transition: transform .05s; */
}
.move-enter,
.move-leave-to {
  /* transform: translateY(10%); */
}

header .always-visible .animate-move {
  /* transition: flex 0.3s ease; */
}

.purrs {
  transition: all 0.3s ease;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #f43f5e;
  border: none;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #f43f5e;
  border: none;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
}

input[type='range']::-moz-range-track {
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
}
/* 
.switch {
  width: 5px;
  height: 30px;
  padding: 5px;
  background: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.switch-button {
  width: 24px;
  height: 24px;
  background: black;
  border-radius: 50%;
  transition: transform 0.3s;
} */

.switch-button-on {
  transform: translateX(26px);
}

.dark .switch {
  background: black;
}

.dark .switch-button {
  background: white;
}

.dark-mode-switch-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  /* transform: rotate(180deg); */
}

.mewoglee-rotation-for-fun {
  /* transform: rotate(180deg); */
}

@keyframes slideIn {
  100% {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
      skewY(0deg);
    transform-origin: 100% 100%;
    opacity: 1;
    filter: blur(0);
  }

  0% {
    transform: scaleX(0.9) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(20vw) translateY(0px) translateZ(0px)
      skewX(30deg) skewY(0deg);
    transform-origin: 100% 100%;
    opacity: 0;
    filter: blur(40px);
  }
}

.slide-out-blurred-right {
  -webkit-animation: slide-out-blurred-right 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-right 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}
@keyframes slideOut {
  0% {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
      skewY(0deg);
    transform-origin: 100% 100%;
    opacity: 1;
    filter: blur(0);
  }

  100% {
    transform: scaleX(0.9) scaleY(0.9) scaleZ(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(20vw) translateY(0px) translateZ(0px)
      skewX(30deg) skewY(0deg);
    transform-origin: 100% 100%;
    opacity: 0;
    filter: blur(40px);
  }
}

.slide-enter-active {
  animation: slideIn 0.5s ease 0s 1 normal forwards;
}

.slide-leave-active {
  animation: slideOut 2s ease 0s 1 normal forwards;
}

.kittybutt {
  position: relative;
  z-index: 1000;
}

.image-container.max-h-screen {
  max-height: 50vh;
  overflow: auto;
}

.details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.details-overlay {
  transition: all 0.3s ease-in-out;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
